.cliente-admin-finanzas {
  width: 98%;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.cont-inputs-cliente {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cont-inputs-cliente input {
  width: 380px;
  height: 40px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.table-cuotas-cliente {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cont-input-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cont-historial-pagos {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}


.cuota-pagada
{
  background-color: #1cb91c;
}
